.action {
  margin-top: 40px;
  width: 280px;
  height: 288px;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  padding: 186px 50px 20px;
  position: relative;
}

.action::before {
  position: absolute;
  content: " ";
  mask-image: url("../../img/icon-gift.svg");
  background-color: $color-white;
  background-repeat: no-repeat;
  width: 55px;
  height: 60px;
  top: 64px;
  left: 113px;
}


@media (min-resolution: $retina-dppx) {
  .action {
  background-image: url("../../img/gift-photo-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .action {
    margin-top: 70px;
    width: 708px;
    height: 200px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
    text-align: left;
    padding: 72px 120px 20px 424px;
    position: relative;
  }

  @media (min-resolution: $retina-dppx) {
    .action {
    background-image: url("../../img/gift-photo-tablet@2x.jpg");
    }
  }

  .action::before {
    width: 55px;
    height: 60px;
    top: 64px;
    left: 90px;
  }
}

@media (min-width: $desktop-width) {
  .action {
    margin: 0px;
    width: 245px;
    height: 288px;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
    text-align: center;
    padding: 188px 30px 5px;
  }

  .action::before {
    width: 55px;
    height: 60px;
    top: 64px;
    left: 94px;
  }
}
