.catalog-more {
  font-size: 12px;
  line-height: 16px;
  color: $color-gray;
}

.catalog-more__heading {
  color: $color-black;
}

.catalog-more__all {
  background-color: #f2f2f2;
  color: $color-gray;
}
