.catalog-more {
  font-size: 12px;
  line-height: 16px;
  color: $color-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 210px;
  padding-top: 56px;
  position: relative;
}


.catalog-more__heading {
  color: $color-black;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 0;

  &::before,
  &::after {
    position: absolute;
    content: " ";
    top: 40px;
    left: 124px;
    width: 30px;
    height: 2px;
    background-color: $color-black;
    opacity: 0.2;
  }

  &::before {
    transform: rotate(90deg);
  }
}

.catalog-more__all {
  background-color: $color-lightgray;
  color: $color-gray;
}

.catalog-more__text {
  margin-top: 8px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .catalog-more {
    border-bottom: none;
  }

  .catalog-more__image {
    width: 60px;
    height: 60px;
  }

  .catalog-more__text {
    font-size: 16px;
    line-height: 18px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 28px;
    margin-bottom: 84px;
  }

  .catalog-more__all {
    width: 100%;
    font-size: 16px;
    padding: 10px;
  }

  .catalog-more__heading {
    font-size: 20px;
    max-width: 150px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0;

    &::before,
    &::after {
      position: absolute;
      content: " ";
      top: 46px;
      left: 96px;
      width: 60px;
      height: 2px;
      background-color: $color-black;
      opacity: 0.2;
    }

    &::before {
      transform: rotate(90deg);
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-more__heading {
    margin-top: 72px;
    margin-bottom: 0;

    &::before,
    &::after {
      position: absolute;
      content: " ";
      top: 49px;
      left: 55px;
      width: 60px;
      height: 2px;
      background-color: $color-black;
      opacity: 0.2;
    }

    &::before {
      transform: rotate(90deg);
    }
  }

  .catalog-more__text {
    width: auto;
    margin-top: 28px;
    margin-bottom: 86px;
  }
}
