.contact {
  margin-top: 29px;
  position: relative;
}

.contact::before {
  position: absolute;
  content: " ";
  height: 3px;
  width: 100%;
  top: 14px;
  left: 50%;
  background-color: $color-green;
  background-repeat: no-repeat;
  z-index: -1;
}

.contact__heading {
  background-color: $color-white;
  width: 200px;
  margin-bottom: 34px;
}

.contact__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
}

.contact__item--input {
  padding: 12px;
  border: 1px solid $color-line;
  flex-grow: 1;
  margin-left: 11px;
}

.contact__item--input::placeholder {
  color: $color-gray;
}

// .contact__item-email::before {
//   position: absolute;
//   content: " ";
//   background-image: url("../../img/icon-mail.svg");
//   width: 17px;
//   height: 13px;
//   top: 15px;
//   right: 15px;
//   fill: black;
// }

.contact__icon-mail {
  position: absolute;
  width: 17px;
  height: 13px;
  right: 15px;
  fill:#222222;
}

.contact__item:active .contact__icon-mail {
  fill: #68b738;
}

.contact__icon-phone {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 15px;
  fill:#222222;
}

.contact__item:active .contact__icon-phone {
  fill: #68b738;
}

.contact__item--input:hover {
  border: 1px solid $color-tableline;
}

.contact__item--input:active,
.contact__item--input:focus {
  border: 2px solid $color-gray;
}

// .contact__item input:invalid {
//   border: 2px solid $color-error;
// }


@media (min-width: $tablet-width) {
  .contact {
    margin-top: 0px;
    margin-bottom: 45px;
  }

  .contact::before {
    top: 22px;
    left: 0;
  }

  .contact__heading {
    width: 593px;
    margin-bottom: 76px;
    padding: 0 40px;
    margin-left: -40px;
  }

  .contact__item {
   margin-bottom: 18px;
  }

  .contact__item input {
    padding: 14px 19px;
    border: 1px solid $color-line;
    flex-grow: 1;
    margin-left: 17px;
    margin-right: -6px;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    margin-top: -2px;
    margin-bottom: 28px;
  }

  .contact__heading {
    width: 593px;
    margin-bottom: 74px;
    padding: 0 40px;
    margin-left: -40px;
  }

  .contact ul {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 0;
  }

  .contact li {
    flex-grow: 1;
  }

  .contact__item {
    max-width: 570px;
  }

  .contact__item:nth-child(2n){
    margin-left: 77px;
  }

  .contact__item input {
    padding: 15px 18px;
    margin: 0;
    margin-left: 20px;
  }

  .contact__item-email::before {
    top: 22px;
    right: 18px;
  }

  .contact__item-tel::before {
    top: 19px;
    right: 14px;
  }
}
