.data-list {
  margin-top: 26px;
  margin-bottom: 6px;
}

.data-list li:last-child label {
  width: 94px;
}

.data-list__title {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 40px;
}

.data-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.data-list__item--input {
  padding: 12px;
  border: 1px solid $color-line;
  flex-grow: 1;
  margin-left: 15px;
}

.data-list__item--input:hover {
  border: 1px solid $color-tableline;
}

.data-list__item--input:active,
.data-list__item--input:focus {
  border: 2px solid $color-gray;
}

.data-list__item input::placeholder {
  color: $color-gray;
}

@media (min-width: $tablet-width) {

  .data-list {
    margin-right: 0;
    margin-bottom: 54px;
  }

  .data-list__title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 36px;
    padding: 30px 0;
  }

  .data-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .data-list li:last-child label {
    width: 120px;
  }

  .data-list__item input {
    padding: 13px 20px;
    flex-grow: 1;
    margin-left: 15px;
  }
}

@media (min-width: $desktop-width) {
  .data-list ul{
    width: 570px;
    margin-right: 0;
  }

  .data-list {
    width: 570px;
    margin-right: 0;
  }

  .data-list__title {
    margin-bottom: 15px;
    padding: 30px 0;
  }

  .data-list {
    margin-right: 0;
    margin-bottom: 54px;
  }
}
