.description__list {
  list-style: none;
  padding: 0;
}

.description__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description__text {
  max-width: 200px;
  position: relative;
  margin: 13px 0;
  margin-left: 80px;
}

.description__text br {
  display: none;
}

.description__text::before {
  content: " ";
  position: absolute;

  top: -2px;
  left: -80px;

  width: 60px;
  height: 60px;

  background-color: $color-green;
  z-index: -1;
  background-position: 5px 5px;
}

.description__image--leaf .description__text::before {
  background-image: url("../../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
}

.description__image--powder .description__text::before {
  background-image: url("../../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
}

.description__image--dining .description__text::before {
  background-image: url("../../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
}

.description__image--clock .description__text::before {
  background-image: url("../../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
}

@media (min-resolution: $retina-dppx) {
  .description__image--leaf .description__text::before {
    background-image: url("../../img/advantage-leaf@2x.png");
  }

  .description__image--powder .description__text::before {
    background-image: url("../../img/advantage-powder@2x.png");
  }

  .description__image--dining .description__text::before {
    background-image: url("../../img/advantage-dining@2x.png");
  }

  .description__image--clock .description__text::before {
    background-image: url("../../img/advantage-clock@2x.png");
  }
}

.description__section-title {
  margin-top: 16px;
  margin-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .description__section-title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  }

  .description__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: section;
    margin-bottom: 0;
    margin-top: 30px;
  }

  .description__item {
    width: 325px;
    height: 286px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    counter-increment: section;
    position: relative;
    margin-top: 31px;
  }

  .description__item::before {
    content: counter(section);
    position: absolute;
    z-index: -1;
    top: 92px;
    left: 114px;
    font-family: $font-oswald;
    font-size: 281px;
    color: $color-lightgray;
  }

  .description__text {
    max-width: 260px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-top: 112px;
  }

  .description__text br {
    display: block;
  }

  .description__text::before {
    content: " ";
    position: absolute;
    top: - 112px;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: $color-green;
    z-index: -1;
    background-position: 15px 15px;
  }
}

@media (min-width: $desktop-width) {
  .description__list {
    justify-content: space-between;
  }

  .description__item {
    width: 245px;
    height: 230px;
    margin-top: 0;
  }

  .description__section-title {
    margin-top: 42px;
    margin-bottom: 74px;
  }

  .description__item::before {
    top: 92px;
    left: 115px;
  }
}
