.developer__academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
}


@media (min-width: $tablet-width) {
  .developer__academy {
    min-width: 160px;
  }
}
