.example {
  background-color: $color-lightgray;
  margin-top: 32px;
  height: 705px;

}

.example__heading {
  font-size: 36px;
  line-height: 60px;
  margin-top: 0;
  margin-bottom: 22px;
  padding-top: 18px;
}

.example__index {
  font-size: 24px;
  line-height: 24px;
}

.example__cat {
  list-style: none;
}

.example__results {
  display: flex;
  justify-content: space-around;
}

.example__expenses {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.example__progress-result {
  display: flex;
  justify-content: center;
}

.example__text{
  max-width: 270px;
  line-height: 19px;
}

.example__item {
  border: 1px solid $color-tableline;
  border-radius: 2px;
  position: relative;
}

.example__text {
 position: absolute;
 background-color: $color-lightgray;
}

@media (min-width: $tablet-width) {
  .example {
    height: 1080px;
    margin-top: 0;
    border-top: 1px solid $color-line;
    font-size: 16px;
    line-height: 24px;
    background-color: transparent;
  }

  .example__heading {
    font-size: 60px;
    line-height: 60px;
    padding-top: 42px;
  }

  .example__results-all {
    display: flex;
    justify-content: space-between;
  }

  .example__index {
    font-size: 30px;
    line-height: 38px;
    border: 1px solid $color-line;
  }

  .example__expenses {
    font-size: 20px;
  }

  .example__progress-result span {
    text-transform: uppercase;
    font-size: 20px;
  }

  .example__text{
    margin-top: 64px;
    max-width: 690px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    border-top: none;
    height: 680px;
  }

  .example__fon {
    background-color: $color-lightgray;
  }

  .example__container {
    display: flex;
    justify-content: space-between;
    height: 462px;
  }

  .example__flex-container {
    max-width: 610px;
  }

  .example__progress-result span {
    border-bottom: none;
  }

  .example__flex-container .example__text {
    max-width: 440px;
  }

  .example__heading {
    padding-top: 80px;
    margin-top: 0;
    margin-bottom: 76px;
  }
}
