.filter-option ul {
  border: 1px solid $color-catalogline;
  padding: 27px 20px 0;
  margin: 0;
  width: 320px;
  margin-left: -20px;
}

.filter-option__item {
  margin-bottom: 25px;
  padding-left: 44px;
  position: relative;
  width: 300px;
}

.filter-option__item input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-option__item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-option__radio + label::before {
  content: "";
  position: absolute;
  left: -45px;
  top: -5px;
  width: 30px;
  height: 30px;
  border: 1px solid $color-radio;
  border-radius: 50%;
}

.filter-option__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -36px;
  width: 12px;
  height: 12px;
  background-color: $color-green;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .filter-option {
    margin-bottom: 74px;
  }

  .filter-option ul {
    padding: 33px 20px 0;
    width: 630px;
    margin-left: 0px;
  }

  .filter-option__item {
    margin-bottom: 34px;
    padding-left: 66px;
    position: relative;
    width: 300px;
  }

  .filter-option__radio + label::before {
    left: -59px;
    top: -10px;
    width: 40px;
    height: 40px;
  }

  .filter-option__radio:checked + label::after {
    top: 1px;
    left: -48px;
    width: 18px;
    height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .filter-option ul {
    width: 570px;
    height: 196px;
    padding: 36px 20px 2px;
  }

  .filter-option__item {
    margin-bottom: 33px;
    padding-left: 68px;
    position: relative;
    width: 300px;
  }


}
