.footer {
  background-color: #f2f2f2;
}

.footer__logo {
  text-decoration: none;
  font-size: 22px;
}

.developer__academy {
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}
