.form-main fieldset {
  padding: 0;
  border: none;
}

.form-main ul {
  list-style: none;
  padding: 0;
}

.form-main input {
  text-transform: uppercase;
}

.form-main__obligatory {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.form-main__heading {
  margin-top: 13px;
}

.form-main__button {
  padding: 10px;
  margin-bottom: 0;
}

.form-main--error + svg {
  fill: $color-error;
}

.form-main--error {
  border: 2px solid $color-error;
}

@media (min-width: $tablet-width) {
  .form-main__heading {
    margin-top: 42px;
    font-size: 60px;
    line-height: 60px;
  }

  .form-main__button {
    width: 283px;
    padding: 16px;
    margin-bottom: 0;
    margin-right: 62px;
  }

  .form-main__end {
    display: flex;
    margin-bottom: 73px;
  }

  .form-main__obligatory {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__heading {
    margin-top: 68px;
    font-size: 60px;
    line-height: 60px;
  }

  .form-main__profil {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0;
  }

  .form-main__button {
    width: 570px;
    padding: 16px;
    margin-bottom: 10px;
    margin-right: 81px;
  }
}
