.header {
  position: relative;
}

.header__container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.header__logo {
  border-bottom: 1px solid $color-line;
  padding: 12px 0;
}

@media (min-width: $tablet-width) {
  .header__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 110px;
  }

  .header__logo {
    border-bottom: none;
    margin-top: 12px;
  }
}

@media (min-width: $desktop-width) {
  .header__container {
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    min-height: 120px;
  }

  .header__logo {
    padding-bottom: 0;
  }
}
