.header,
.header__catalog {
  position: relative;
}

.header__container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.header__logo {
  border-bottom: 1px solid $color-line;
  padding: 12px 0;
}

@media (min-width: $tablet-width) {
  .header__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 110px;
  }

  .header__logo {
    border-bottom: none;
    margin-top: 12px;
  }
}

@media (min-width: $desktop-width) {
  .header__container {
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    min-height: 120px;
  }

  .header__logo {
    padding-bottom: 0;
  }

  .header::before {
    position: absolute;
    content: " ";
    top: 0;
    right: 0;
    // width: 720px;
    width: 50%;
    height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
  }

  @media (min-resolution: $retina-dppx) {
    .action {
    background-image: url("../index-background-desktop@2x.jpg");
    }
  }
}
