.header {
  position: relative;
}

.header__container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .header__container {
    flex-direction: row;
    justify-content: space-between;
    max-height: 110px;
  }
}

@media (min-width: $desktop-width) {
  .header__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
