.logo {
  display: block;
  width: 190px;
  height: 66px;


  background-image: url("../../img/logo-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;

}


@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {
  .logo__catalog {
    font-size: 22px;
    height: 64px;
    padding: 22px;
    color: $color-gray;
  }
}
