.main-nav__list {
  min-height: 200px;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    flex-direction: row;
    max-height: 110px;
  }
}
