.more {
  margin-top: 10px;
  position: relative;
  margin-bottom: 18px;
}

.more::before {
  position: absolute;
  content: " ";
  height: 3px;
  width: 100%;
  top: 14px;
  left: 50%;
  background-color: $color-green;
  background-repeat: no-repeat;
  z-index: -1;
}

.more__heading {
  background-color: $color-white;
  padding-right: 20px;
  margin-bottom: 40px;
 }

 .more__item input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.more__item {
  padding-left: 46px;
  position: relative;
  margin-bottom: 24px;
}

.more__checkbox+label::before {
  position: absolute;
  content: " ";
  height: 30px;
  width: 30px;
  top: -5px;
  left: 0px;
  border: 1px solid $color-checkbox;
}

.more__checkbox:checked+label::after {
  position: absolute;
  content: " ";
  top: -3px;
  left: 10px;
  width: 10px;
  height: 20px;
  border-right: 2px solid $color-green;
  border-bottom: 2px solid $color-green;
  transform: rotate(45deg);
}

@media (min-width: $tablet-width) {
  .more {
    margin-top: 0;
    margin-bottom: 0px;
  }

  .more::before {
    top: 22px;
    left: 0;
  }

  .more__heading {
    padding: 0 40px;
    margin-left: -40px;
    margin-bottom: 66px;
  }

  .more ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .more__item {
    width: 282px;
    padding-left: 57px;
    margin-bottom: 52px;
  }

  .more__checkbox+label::before {
    height: 40px;
    width: 40px;
    top: -10px;
    left: 0px;
  }

  .more__checkbox:checked+label::after {
    left: 15px;
  }
}
