.program {
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.program__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program__heading {
  color: $color-white;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-transform: none;
  text-align: center;
}

.program__slogan {
  font-family: $font-oswald;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: normal;
  color: $color-white;
}

@media (min-width: $tablet-width) {
  .program {
    background-image: url("../../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 950px;
  }

  .program__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 190px;
  }

  .program__heading {
    color: $color-black;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
    max-width: 426px;
    text-align: left;
  }

  .program__slogan {
    font-size: 20px;
    color: $color-black;
  }

  .program__image-feed {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (min-width: $desktop-width) {
  .program {
    background-image: url("../../img/index-can-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 650px 30px;
    min-height: 640px;
  }
}
