body {
  font-size: 14px;
  line-height: 18px;
  font-family: $font-arial;
  color: $color-gray;
  font-style: normal;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
