body {
  min-width: 340px;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-arial;
  color: $color-gray;
  font-style: normal;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  body {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  body {
    width: 1440px;
  }
}
