.social {
  list-style: none;
  border-top: 1px solid $color-line;
  border-bottom: 1px solid $color-line;
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {

}
