$color-white: #ffffff;
$color-gray: #444444;
$color-green: #68b738;
$color-black: #111111;
$color-lightgray: #f2f2f2;
$color-line: #e6e6e6;
$font-arial: "Arial", "Helvetica", sans-serif;
$font-oswald: "Oswald", "Arial", "Helvetica", sans-serif;
$tablet-width: 768px;
$desktop-width: 1440px;
