body {
  width: 320px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #444444;
}
@import "blocks/section-title.scss";
@import "blocks/button.scss";
@import "blocks/action.scss";
@import "blocks/additionally.scss";
@import "blocks/catalog-main.scss";
@import "blocks/catalog-more.scss";
@import "blocks/catalog.scss";
@import "blocks/description.scss";
@import "blocks/developer.scss";
@import "blocks/example.scss";
@import "blocks/footer-description.scss";
@import "blocks/footer.scss";
@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/main-index.scss";
@import "blocks/main-nav.scss";
@import "blocks/main.scss";
@import "blocks/program.scss";
@import "blocks/site-list.scss";
@import "blocks/social.scss";
@import "blocks/type-list.scss";
@import "blocks/types-food.scss";
@import "blocks/visually-hidden.scss";

